body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
display:flex;
justify-content:space-between;
background:#333;
color:white;
padding:15px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:#4CAF50;
color:white;
}

.courses{
padding:40px;
text-align:center;
}

.course-container{
display:flex;
justify-content:center;
gap:20px;
}

.course-card{
background:white;
padding:20px;
width:200px;
border-radius:8px;
}

.course-page{
padding:40px;
}

.course-layout{
display:flex;
gap:30px;
}

.lesson-list li{
cursor:pointer;
padding:10px;
}

.quiz{
background:white;
padding:20px;
width:400px;
margin:auto;
}

